{% extends 'base.html' %}
{% block content %}
<h3>{{ title }}</h3>
<hr>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-md-6 mb-3">
      {{ form.nome.label(class="form-label") }}
      {{ form.nome(class="form-control") }}
    </div>
    <div class="col-md-3 mb-3">
      {{ form.ca.label(class="form-label") }}
      {{ form.ca(class="form-control") }}
    </div>
    <div class="col-md-3 mb-3">
        {{ form.fornecedor_id.label(class="form-label") }}
        {{ form.fornecedor_id(class="form-select") }}
    </div>
  </div>
  
  {{ form.submit(class="btn btn-primary") }}
  <a href="{{ url_for('epi.epi_list') }}" class="btn btn-outline-secondary">Cancelar</a>
</form>
{% endblock %}